{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "plugins": [
    "@typescript-eslint/eslint-plugin"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}
